<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for(icons, filename='main.css') }}">
  </head>
  <body>
    <div class="top-panel">
      <img src="{{ url_for(icons, filename='kiwi.png') }}">
    </div>
    <h3>I want to attend the Kiwi.com Weekend in the Cloud</h3>
    <div id="map" class="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 49.174712, lng: 16.565887};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtolEP_NClIozqOpDBTpVKI3i9n2TXBl4&callback=initMap">
    </script>
  </body>
</html>
